@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

body.active {
  width: 100%;
  height: 100%;
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
a:hover {
  opacity: 0.7;
}

.l-header {
  width: 100%;
  background-color: #fff;
  margin: 0 0 0 auto;
  position: relative;
}

.l-fv {
  background: url(/img/fv/fv-bg.png) no-repeat center center/cover;
  height: 560px;
}

.l-search {
  padding: 54px 0 70px;
  background: #ffdb00;
}

.l-result {
  padding: 0 0 94px;
  text-align: center;
}

.c-section__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-section__ttl h2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 0 10px 0 20px;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.c-section__ttl h2::before {
  content: "";
  width: 8px;
  height: 36px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-section__ttl p {
  font-size: 18px;
  font-weight: bold;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-header {
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .p-header {
    height: 60px;
  }
}
.p-header__logo {
  margin-left: 3%;
  width: 280px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-header__logo img {
    width: 90px;
  }
}
@media screen and (max-width: 599px) {
  .p-header__logo img {
    width: 80px;
  }
}
.p-header__nav {
  height: 100%;
}
.p-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.p-header__nav .p-header__nav-item {
  padding-top: 7px;
}
.p-header__nav .p-header__nav-item:nth-child(1) {
  padding-right: 49px;
}
.p-header__nav .p-header__nav-item:nth-child(2) {
  padding-right: 31px;
}
.p-header__nav .p-header__nav-item:nth-child(3) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item:nth-child(4) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item:nth-child(5) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item a {
  position: relative;
  padding-bottom: 3px;
  font-size: 14px;
}
.p-header__nav .p-header__nav-item a::before {
  background: #ffdb00;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.p-header__nav .p-header__nav-item a:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.p-header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-header__nav a .p-header-nav__link {
  font-size: 14px;
  color: #ffdb00;
}

.p-header-nav__btn {
  background: #222222;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 80px;
  width: 190px;
  font-family: "Montserrat", sans-serif;
}
.p-header-nav__btn:hover {
  opacity: 0.8;
}
.p-header-nav__btn a {
  height: 80px;
  width: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-header-nav__btn a img {
  width: 17px;
  height: 12px;
}
.p-header-nav__btn span {
  margin-left: 10px;
}

.p-drawer {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .p-drawer {
    display: none;
  }
}
.p-drawer__icon {
  position: absolute;
  top: -15px;
  right: 1rem;
  z-index: 42;
  cursor: pointer;
}
.p-drawer__icon span {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 7px;
  background: #111;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.p-drawer__icon span:nth-of-type(2) {
  top: 11px;
}
.p-drawer__icon span:nth-of-type(3) {
  top: 22px;
}
.p-drawer__icon.active span:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}
.p-drawer__icon.active span:nth-of-type(2) {
  display: none;
}
.p-drawer__icon.active span:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}

.p-drawer__panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 41;
  padding: 8rem 0rem 2rem;
  width: 50vw;
  height: 100vh;
  background: #ffdb00;
  translate: 100vw;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 599px) {
  .p-drawer__panel {
    width: 80vw;
  }
}
.p-drawer__panel ul {
  list-style: none;
}
.p-drawer__panel li {
  padding: 1.75rem 0;
  border-bottom: 1px dotted #fff;
  position: relative;
}
.p-drawer__panel li:first-child {
  border-top: 1px dotted #fff;
}
.p-drawer__panel li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 79px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(/img/fv/Icon\ awesome-caret-right.svg) no-repeat center center/contain;
  width: 15px;
  height: 14px;
}
.p-drawer__panel a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: block;
  padding-left: 30px;
}
.p-drawer__panel.active {
  translate: 0;
  opacity: 1;
}

.p-fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 560px;
}
.p-fv__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}
.p-fv__img img:nth-child(1) {
  width: 620px;
  margin-bottom: 48px;
}
.p-fv__img img:nth-child(2) {
  width: 683px;
}

.p-search {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}
.p-search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 23px;
}
.p-search__btn-buy, .p-search__btn-borrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-search__btn-buy > p, .p-search__btn-borrow > p {
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  background: #343434;
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0;
}
.p-search__btn-buy {
  margin-right: 47px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.p-search .p-search__btn-buy-btn,
.p-search .p-search__btn-borrow-btn {
  padding: 15px 34px 15px 29px;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-search .p-search__btn-buy-btn a,
.p-search .p-search__btn-borrow-btn a {
  font-size: 15px;
  background: #f2f2ed;
  padding: 9px 24px;
  border-radius: 5px;
  border: 1px solid #d3d3c7;
  font-weight: normal;
}
.p-search .p-search__btn-buy-btn a span,
.p-search .p-search__btn-borrow-btn a span {
  font-size: 13px;
}
.p-search .p-search__btn-buy-btn a {
  margin-right: 12px;
}
.p-search .p-search__btn-buy-btn a:last-child {
  margin-right: 0;
}
.p-search__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-search__result-item {
  width: calc(33.3333333333% - 32px);
  margin-right: 48px;
  margin-top: 48px;
}
.p-search__result-item:nth-child(3n) {
  margin-right: 0;
}
.p-search__result-item:nth-child(-n+3) {
  margin-top: 80px;
}
.p-result {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.p-result__item {
  width: calc(33.3333333333% - 32px);
  margin-right: 48px;
  margin-top: 60px;
}
.p-result__item:nth-child(3n) {
  margin-right: 0;
}
.p-result__item:nth-child(-n+3) {
  margin-top: 80px;
}
.p-result__item-img {
  position: relative;
}
.p-result__item-img::before, .p-result__item-img::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #666666;
}
.p-result__item-img::before {
  width: 99%;
  height: 1px;
  top: 103%;
  left: 51%;
}
.p-result__item-img::after {
  height: 100%;
  width: 1px;
  top: 53%;
  left: 101%;
}
.p-result__item-cate {
  margin: 20px 0 11px;
  font-size: 13px;
  background: #343434;
  padding: 2px 17px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.p-result__item-address {
  font-size: 18px;
}
.p-result__item-price {
  margin: 4px 0 10px;
}
.p-result__item-access {
  font-size: 13px;
  color: #666;
  position: relative;
  padding-left: 15px;
}
.p-result__item-access::before {
  content: "";
  background: url(/img/search/icon.svg) no-repeat center center/cover;
  width: 11px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-result__btn {
  font-size: 16px;
  padding: 20px 0;
  color: #343434;
  position: relative;
  background: #ffdb00;
  margin-top: 60px;
  display: inline-block;
  width: 340px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.p-result__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(/img/result/button-icon.svg) no-repeat center center/contain;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1024px) {
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .u-hidden-tab {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .u-hidden-sp {
    display: none !important;
  }
}