@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  color: #343434;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

body.active {
  width: 100%;
  height: 100%;
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
a:hover {
  opacity: 0.7;
}

.l-header {
  width: 100%;
  background-color: #fff;
  margin: 0 0 0 auto;
  position: relative;
}

.l-fv {
  background: url(/img/fv/fv-bg.png) no-repeat center center/cover;
  height: 560px;
}

.l-search {
  padding: 54px 0 70px;
  background: #ffdb00;
}

.l-result {
  padding: 0 0 94px;
  text-align: center;
}

.l-flow {
  padding: 70px 0 118px;
  text-align: center;
  background: #f2f2ed;
}

.l-qa {
  padding: 70px 0 126px;
  text-align: center;
}

.l-TopAbout {
  text-align: center;
  padding: 0 0 111px;
}

.l-access {
  padding: 0px 0 116px;
  text-align: left;
}

.l-single {
  text-align: left;
  position: relative;
}
.l-single::before {
  content: "";
  width: 863px;
  height: 863px;
  background: #ffdb00;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  z-index: -1;
}

.l-footer {
  padding: 0px 0 116px;
  text-align: left;
  background: #343434;
  color: #fff;
}

.l-AboutService {
  padding: 80px 0 100px;
  background: #f2f2ed;
}

.l-AboutProfile {
  padding: 75px 0 118px;
  background: #fff;
}

.c-section__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-section__ttl h2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 0 10px 0 20px;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.c-section__ttl h2::before {
  content: "";
  width: 8px;
  height: 36px;
  background: #ffdb00;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-section__ttl p {
  font-size: 18px;
  font-weight: bold;
}

.p-search .c-section__ttl h2::before {
  background: #fff;
}

.p-about .c-section__ttl h2 {
  color: #fff;
}
.p-about .c-section__ttl p {
  color: #fff;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-header {
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .p-header {
    height: 60px;
  }
}
.p-header__logo {
  margin-left: 3%;
  width: 280px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-header__logo img {
    width: 90px;
  }
}
@media screen and (max-width: 599px) {
  .p-header__logo img {
    width: 80px;
  }
}
.p-header__nav {
  height: 100%;
}
.p-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.p-header__nav .p-header__nav-item {
  padding-top: 7px;
}
.p-header__nav .p-header__nav-item:nth-child(1) {
  padding-right: 49px;
}
.p-header__nav .p-header__nav-item:nth-child(2) {
  padding-right: 31px;
}
.p-header__nav .p-header__nav-item:nth-child(3) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item:nth-child(4) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item:nth-child(5) {
  padding-right: 40px;
}
.p-header__nav .p-header__nav-item a {
  position: relative;
  padding-bottom: 3px;
  font-size: 14px;
}
.p-header__nav .p-header__nav-item a::before {
  background: #ffdb00;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.p-header__nav .p-header__nav-item a:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.p-header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-header__nav a .p-header-nav__link {
  font-size: 14px;
  color: #343434;
}

.p-header-nav__btn {
  background: #222222;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 80px;
  width: 190px;
  font-family: "Montserrat", sans-serif;
}
.p-header-nav__btn:hover {
  opacity: 0.8;
}
.p-header-nav__btn a {
  height: 80px;
  width: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-header-nav__btn a img {
  width: 17px;
  height: 12px;
}
.p-header-nav__btn span {
  margin-left: 10px;
}

.p-drawer {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .p-drawer {
    display: none;
  }
}
.p-drawer__icon {
  position: absolute;
  top: -15px;
  right: 1rem;
  z-index: 42;
  cursor: pointer;
}
.p-drawer__icon span {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 7px;
  background: #111;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.p-drawer__icon span:nth-of-type(2) {
  top: 11px;
}
.p-drawer__icon span:nth-of-type(3) {
  top: 22px;
}
.p-drawer__icon.active span:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}
.p-drawer__icon.active span:nth-of-type(2) {
  display: none;
}
.p-drawer__icon.active span:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}

.p-drawer__panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 41;
  padding: 8rem 0rem 2rem;
  width: 50vw;
  height: 100vh;
  background: #ffdb00;
  translate: 100vw;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 599px) {
  .p-drawer__panel {
    width: 80vw;
  }
}
.p-drawer__panel ul {
  list-style: none;
}
.p-drawer__panel li {
  padding: 1.75rem 0;
  border-bottom: 1px dotted #fff;
  position: relative;
}
.p-drawer__panel li:first-child {
  border-top: 1px dotted #fff;
}
.p-drawer__panel li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 79px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(/img/fv/Icon\ awesome-caret-right.svg) no-repeat center center/contain;
  width: 15px;
  height: 14px;
}
.p-drawer__panel a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: block;
  padding-left: 30px;
}
.p-drawer__panel.active {
  translate: 0;
  opacity: 1;
}

.p-fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 560px;
}
.p-fv__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}
.p-fv__img img:nth-child(1) {
  width: 620px;
  margin-bottom: 48px;
}
.p-fv__img img:nth-child(2) {
  width: 683px;
}

.p-search {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}
.p-search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 23px;
}
.p-search__btn-buy, .p-search__btn-borrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-search__btn-buy > p, .p-search__btn-borrow > p {
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  background: #343434;
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0;
}
.p-search__btn-buy {
  margin-right: 47px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.p-search .p-search__btn-buy-btn,
.p-search .p-search__btn-borrow-btn {
  padding: 15px 34px 15px 29px;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-search .p-search__btn-buy-btn a,
.p-search .p-search__btn-borrow-btn a {
  font-size: 15px;
  background: #f2f2ed;
  padding: 9px 24px;
  border-radius: 5px;
  border: 1px solid #d3d3c7;
  font-weight: normal;
}
.p-search .p-search__btn-buy-btn a span,
.p-search .p-search__btn-borrow-btn a span {
  font-size: 13px;
}
.p-search .p-search__btn-buy-btn a {
  margin-right: 12px;
}
.p-search .p-search__btn-buy-btn a:last-child {
  margin-right: 0;
}
.p-search__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-search__result-item {
  width: calc(33.3333333333% - 32px);
  margin-right: 48px;
  margin-top: 48px;
}
.p-search__result-item:nth-child(3n) {
  margin-right: 0;
}
.p-search__result-item:nth-child(-n+3) {
  margin-top: 80px;
}
.p-flow {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}

.p-result {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.p-result__item {
  width: calc(33.3333333333% - 32px);
  margin-right: 48px;
  margin-top: 60px;
}
.p-result__item:nth-child(3n) {
  margin-right: 0;
}
.p-result__item:nth-child(-n+3) {
  margin-top: 80px;
}
.p-result__item-img {
  position: relative;
}
.p-result__item-img::before, .p-result__item-img::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #666666;
}
.p-result__item-img::before {
  width: 99%;
  height: 1px;
  top: 103%;
  left: 51%;
}
.p-result__item-img::after {
  height: 100%;
  width: 1px;
  top: 53%;
  left: 101%;
}
.p-result__item-cate {
  margin: 20px 0 11px;
  font-size: 13px;
  background: #343434;
  padding: 2px 17px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.p-result__item-address {
  font-size: 18px;
}
.p-result__item-price {
  margin: 4px 0 10px;
}
.p-result__item-access {
  font-size: 13px;
  color: #666;
  position: relative;
  padding-left: 15px;
}
.p-result__item-access::before {
  content: "";
  background: url(/img/search/icon.svg) no-repeat center center/cover;
  width: 11px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-result__btn {
  font-size: 16px;
  padding: 20px 0;
  color: #343434;
  position: relative;
  background: #ffdb00;
  margin-top: 60px;
  display: inline-block;
  width: 340px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.p-result__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(/img/result/button-icon.svg) no-repeat center center/contain;
  width: 24px;
  height: 24px;
}

.p-TopAbout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(/img/TopAbout/about-bg.png) no-repeat center center/cover;
}
.p-TopAbout__wrap {
  padding: 87px 0 126px 9%;
  width: 50%;
}
.p-TopAbout__wrap-img {
  width: 80%;
  margin: 44px 0 0;
}
.p-TopAbout__wrap-text {
  font-size: 16px;
  color: #fff;
  line-height: 2;
  width: 80%;
  text-align: left;
  margin-top: 30px;
}
.p-TopAbout__img {
  width: 50%;
}
.p-TopAbout__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.885%;
  margin: -7% auto 0;
}
.p-TopAbout__bottom > div {
  margin-right: 60px;
  width: calc(50% - 30px);
}
.p-TopAbout__bottom > div:last-child {
  margin-right: 0;
}

.p-TopAbout__bottom-text {
  background: #ffdb00;
  padding: 17px 0 26px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.p-TopAbout__bottom-text::before {
  content: "";
  background: url(/img/TopAbout/icon.svg) no-repeat center center/cover;
  position: absolute;
  top: 47%;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}
.p-TopAbout__bottom-text p:nth-child(1) {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.p-TopAbout__bottom-text p:nth-child(2) {
  font-size: 13px;
  line-height: 1.2307692308;
}

.p-AboutFv {
  position: relative;
}
.p-AboutFv::before {
  content: "";
  width: 683px;
  height: 520px;
  background: #ffdb00;
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}
.p-AboutFv__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21px;
  padding-left: 123px;
}
.p-AboutFv__breadcrumb p {
  color: #343434;
  font-size: 13px;
  margin-right: 22px;
  position: relative;
}
.p-AboutFv__breadcrumb p::before {
  content: ">";
  position: absolute;
  top: 50%;
  right: -19px;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-AboutFv__breadcrumb p:last-child {
  margin-right: 0;
}
.p-AboutFv__breadcrumb p:last-child::before {
  content: none;
}
.p-AboutFv__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 19px;
}
.p-AboutFv__ttl {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-right: -4.5%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-AboutFv__ttl h1 {
  font-size: 60px;
  line-height: 1.3333333333;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.p-AboutFv__ttl p {
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
}
.p-AboutFv__img {
  width: 960px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.p-AboutFv__text {
  width: 100%;
  padding: 120px 0;
  text-align: center;
}
.p-AboutFv__text img {
  margin: 0 auto;
}
.p-AboutFv__text img:nth-child(1) {
  width: 62%;
}
.p-AboutFv__text img:nth-child(2) {
  width: 79.06%;
  margin-top: 37px;
}

.p-qa {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}

/* アコーディオン全体 */
.p-qa__accordion {
  margin: 45px auto 77px;
}
.p-qa__accordion:last-child {
  margin: 45px auto 0px;
}
.p-qa__accordion h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  position: relative;
  padding-left: 60px;
  margin-bottom: 13px;
}
.p-qa__accordion h3::before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 3%;
  background: #343434;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* アコーディオン */
.p-qa__accordion-item {
  margin-bottom: 25px;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  width: 89%;
  margin: 0 auto 10px;
}
.p-qa__accordion-item:last-child {
  margin: 0 auto;
}

/* アコーディオンのタイトル */
.p-qa__accordion-title {
  position: relative;
  padding: 15px 60px 26px 65px;
  cursor: pointer;
  font-size: 18px;
}
.p-qa__accordion-title img {
  position: absolute;
  top: 42%;
  left: 3.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
}

/* (+)アイコン */
.p-qa__accordion-title::before,
.p-qa__accordion-title::after {
  content: "";
  position: absolute;
  right: 20px;
  top: -15%;
  bottom: 0;
  margin: auto 0;
  background-color: #343434;
  width: 20px;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-qa__accordion-title::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* アコーディオンのコンテンツ */
.p-qa__accordion-content {
  padding: 17px 74px 30px 65px;
  display: none;
  cursor: pointer;
  background: #f2f2ed;
  position: relative;
  font-size: 15px;
  line-height: 2;
}
.p-qa__accordion-content > img {
  position: absolute;
  top: 42px;
  left: 3.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
}
.p-qa__accordion-content-body {
  background: #fff;
  padding: 22px 30px 47px;
}
.p-qa__accordion-content-body:nth-of-type(1) {
  margin-top: 39px;
}
.p-qa__accordion-content-body:nth-of-type(2) {
  margin-top: 51px;
}
.p-qa__accordion-content-body:nth-of-type(3) {
  margin-top: 50px;
}
.p-qa__accordion-content-ttl {
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 5px;
  border-bottom: 3px solid #ffdb00;
  margin-bottom: 4px;
  position: relative;
  padding-left: 10px;
}
.p-qa__accordion-content-ttl::before {
  content: "■";
  font-size: 8px;
  position: absolute;
  top: 47%;
  left: 0.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-qa__accordion-content-txt {
  font-size: 15px;
  line-height: 2;
}
.p-qa__accordion-content-img {
  width: 85%;
  margin: 55px auto 0;
}
.p-qa__accordion-content .p-qa__accordion-img {
  width: 85%;
  margin: 55px auto 0;
}

.p-qa__accordion-content.is-open {
  display: block;
}

/* アコーディオン展開時の(-)アイコン */
.p-qa__accordion-item.is-active .p-qa__accordion-title::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p-qa__accordion-item.is-active .p-qa__accordion-title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.p-access {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}
.p-access > P {
  font-size: 16px;
  line-height: 2;
  margin-top: 40px;
}
.p-access__map {
  height: 458px;
  width: 100%;
  margin-top: 30px;
}
.p-access iframe {
  height: 458px;
  width: 100%;
}

.p-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  text-align: center;
  height: 80px;
  vertical-align: middle;
}

.p-footer__top-mail,
.p-footer__top-tel {
  width: 50%;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-footer__top-mail p,
.p-footer__top-tel p {
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
}

.p-footer__top-mail {
  border-right: 1px solid #fff;
}
.p-footer__top-mail p {
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 26px;
  line-height: 1.2307692308;
  position: relative;
}
.p-footer__top-mail p::before {
  content: "";
  background: url(/img/footer/icon-mail.svg) no-repeat center center/cover;
  width: 26px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-footer__top-tel .p-footer__top-tel-txt {
  position: relative;
}
.p-footer__top-tel .p-footer__top-tel-txt::before {
  content: "";
  background: url(/img/footer/icon-tel.svg) no-repeat center center/contain;
  width: 28px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-footer__top-tel p:nth-child(1) {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.1;
}
.p-footer__top-tel p:nth-child(2) {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.3846153846;
}

.p-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 81.99%;
  margin: 59px auto 0px;
  max-width: 1120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-footer__bottom-left {
  width: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}
.p-footer__bottom-left-img {
  width: 350px;
}
.p-footer__bottom-left p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.8571428571;
}

.p-footer__bottom-right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-footer__bottom-right > ul > li {
  padding-left: 60px;
}
.p-footer__bottom-right > ul > li > a {
  font-size: 15px;
}

.p-footer__bottom-right-about ul {
  margin-top: 6px;
}
.p-footer__bottom-right-about li {
  font-size: 14px;
  line-height: 2.1428571429;
}

.copylight {
  margin-top: 123px;
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 2.1666666667;
}

.p-tab {
  margin-top: 32px;
}

.p-tab-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-tab-list__item {
  text-align: center;
  width: calc(33.3333333333% - 4px);
  background-color: #acaca1;
  padding: 20px 0;
  cursor: pointer;
  margin-right: 6px;
  color: #fff;
}
.p-tab-list__item:last-child {
  margin-right: 0;
}

.p-tab-list__item.active {
  background-color: #ffdb00;
  color: #222;
}

.p-tab-contents {
  padding: 60px 60px 70px;
  background-color: #ffdb00;
}

.p-tab-contents__items {
  display: none;
}
.p-tab-contents__items > P {
  margin-bottom: 50px;
  font-size: 22px;
}

.p-tab-contents__items.show {
  display: block;
  -webkit-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease;
}

.p-tab-contents__item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  position: relative;
  margin-bottom: 44px;
}
.p-tab-contents__item:last-child {
  margin-bottom: 0;
}
.p-tab-contents__item::before {
  content: "";
  background: url(/img/flow/arrow.png) no-repeat center center/cover;
  position: absolute;
  bottom: -13%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
  height: 14px;
}

.p-tab-contents__item-number {
  background: #343434;
  border-radius: 5px;
  width: 105px;
  height: 105px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.p-tab-contents__item-number p {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.04em;
}
.p-tab-contents__item-number p:nth-child(1) {
  font-size: 18px;
  line-height: 1.5;
}
.p-tab-contents__item-number p:nth-child(2) {
  font-size: 32px;
}

.p-tab-contents__item-body {
  text-align: left;
}

.p-tab-contents__item-ttl {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-top: 3px;
}

.p-tab-contents__item-txt {
  font-size: 15px;
  margin-top: 7px;
}

.p-tab-contents__text {
  width: 100%;
  border: 3px solid #343434;
  padding: 20px 0;
  background: url(/img/flow/flow-text-bg.png) no-repeat center center/cover;
}
.p-tab-contents__text p {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-single {
  width: 81.99%;
  margin: 0px auto 80px;
  max-width: 1120px;
}
.p-single__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21px;
}
.p-single__breadcrumb p {
  color: #343434;
  font-size: 13px;
  margin-right: 22px;
  position: relative;
}
.p-single__breadcrumb p::before {
  content: ">";
  position: absolute;
  top: 50%;
  right: -19px;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-single__breadcrumb p:last-child {
  margin-right: 0;
}
.p-single__breadcrumb p:last-child::before {
  content: none;
}

.p-single__info {
  width: 96.5%;
  margin: 80px auto 0;
}
.p-single__info .p-single__label {
  display: inline-block;
  width: 92px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #fff;
  background: #343434;
}
.p-single__info .p-single__address {
  margin-top: 7px;
  font-size: 36px;
}
.p-single__info .p-single__price {
  margin-top: 16px;
  font-size: 24px;
}
.p-single__info .p-single__access {
  font-size: 16px;
  color: #666;
  position: relative;
  padding-left: 19px;
  margin-top: 17px;
}
.p-single__info .p-single__access::before {
  content: "";
  background: url(/img/search/icon.svg) no-repeat center center/cover;
  width: 11px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 0.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-single__info .p-single__text {
  width: 81%;
  margin: 49px auto 82px;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 2;
}

.p-single__btn {
  background: #f2f2ec;
  padding: 62px 0 100px;
}
.p-single__btn .p-single__btn-inner {
  width: 61%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-single__btn a:nth-child(1), .p-single__btn a:nth-child(3) {
  position: relative;
}
.p-single__btn a:nth-child(1)::before, .p-single__btn a:nth-child(3)::before {
  content: "";
  width: 6px;
  height: 10px;
  top: 50%;
  position: absolute;
  background: url(/img/single/arrow.svg) no-repeat center center/cover;
}
.p-single__btn a:nth-child(1)::before {
  left: -62%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}
.p-single__btn a:nth-child(2) {
  width: 300px;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 54px;
  background: #ffdb00;
}
.p-single__btn a:nth-child(3)::before {
  right: -83%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-single__table {
  width: 81%;
  margin: 0px auto;
  font-size: 16px;
}
.p-single__table table {
  width: 100%;
}
.p-single__table table,
.p-single__table td,
.p-single__table th {
  border: 1px solid #d3d3c7;
  border-collapse: collapse;
}
.p-single__table th {
  background: #343434;
  color: #fff;
  width: 260px;
  padding: 18px 0;
  text-align: center;
}
.p-single__table td {
  width: calc(100% - 260px);
  padding-left: 30px;
  letter-spacing: -0.01em;
}
.p-single__table td span {
  font-size: 20px;
  padding-right: 4px;
}

.p-swiper {
  margin-top: 60px;
}

.swiper-wrap {
  background: #f2f2ec;
  padding: 60px 70px;
  position: relative;
}

.mySwiper2 {
  height: 600px;
  width: 100%;
}

.swiper {
  width: 100%;
}

.swiper-free-mode > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
}

.mySwiper .swiper-slide {
  width: 10% !important;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  color: #343434;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: #343434;
  position: absolute;
  z-index: 2;
}

.swiper-button-next {
  right: 4%;
}

.swiper-button-prev {
  left: 4%;
}

.p-AboutService {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}
.p-AboutService__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-AboutService__list {
  width: calc(25% - 9.75px);
  margin-right: 13px;
  background: #fff;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  position: relative;
}
.p-AboutService__list::before {
  content: "";
  background: url(/img/about/service/arrow.svg) no-repeat center center/contain;
  width: 18px;
  height: 16px;
  position: absolute;
  bottom: 11%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-AboutService__list:last-child {
  margin-right: 0;
}
.p-AboutService__list-img {
  width: 113px;
  margin: 0 0 32px;
}
.p-AboutService__list p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}
.p-AboutService__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 80px;
}
.p-AboutService__item {
  border: 10px solid #e0e0d6;
  margin-bottom: 46px;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-AboutService__item:last-child {
  margin-bottom: 0;
}
.p-AboutService__item-text {
  margin-right: 110px;
}
.p-AboutService__item-text h3 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 35px;
}
.p-AboutService__item-text p:nth-of-type(1) {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.p-AboutService__item-text p:nth-of-type(1) span {
  margin-bottom: 10px;
}
.p-AboutService__item-text p:nth-of-type(1) span:not(:last-child) {
  border-radius: 5px;
  background: #343434;
  color: #fff;
  padding: 5px 17px;
  margin-right: 7px;
}
.p-AboutService__item-text p:nth-of-type(2) {
  font-size: 16px;
  line-height: 2;
}
.p-AboutService__item-img {
  width: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 10px;
}
.p-AboutService .p-AboutService__item:nth-child(1) {
  padding: 41px 50px 53px 40px;
}
.p-AboutService .p-AboutService__item:nth-child(2) {
  padding: 41px 50px 45px 40px;
  margin-bottom: 57px;
}
.p-AboutService .p-AboutService__item:nth-child(3) {
  padding: 32px 50px 37px 40px;
  margin-bottom: 54px;
}
.p-AboutService .p-AboutService__item:nth-child(4) {
  padding: 41px 50px 53px 40px;
}

.p-AboutProfile {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
}
.p-AboutProfile__table {
  margin: 32px auto 0;
  font-size: 16px;
}
.p-AboutProfile__table table {
  width: 100%;
}
.p-AboutProfile__table table,
.p-AboutProfile__table td,
.p-AboutProfile__table th {
  border: 1px solid #e0e0d6;
  border-collapse: collapse;
}
.p-AboutProfile__table th {
  background: #acaca1;
  color: #fff;
  width: 300px;
  padding: 18px 0 18px 41px;
  text-align: left;
}
.p-AboutProfile__table td {
  width: calc(100% - 300px);
  padding-left: 30px;
  letter-spacing: -0.01em;
}
.p-AboutProfile__table td span {
  font-size: 20px;
  padding-right: 4px;
}

@media screen and (min-width: 1024px) {
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .u-hidden-tab {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .u-hidden-sp {
    display: none !important;
  }
}