// 色
$main-color: #fff; // メインカラー
$bg-color: #5cc4ff; // bgカラー
$pink-color: #ff70b0; // ピンクカラー
$blue-color: #118fd8; // ブルーカラー
$black-color: #000; // テキストカラー

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");

// フォント
$ff-kozuka: "kozuka-gothic-pr6n", sans-serif; // kozuka
$ff-base: "Zen Kaku Gothic New", sans-serif; // 日本語標準
$fz-base: 16px; // ベースフォントサイズ
$fw-base: 500; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間
$inner-width: 1100px; // インナー幅サイズ

$tab-minwidth: 600px; // tabサイズ
$pc-minwidth: 1024px; // pcサイズ

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$tab-minwidth - 1px})",
  // タブレット以上の場合
  "tab":
    "screen and (min-width: #{$tab-minwidth}) and (max-width: #{$pc-minwidth - 1px})",
  // pc以上の場合
  "pc": "screen and (min-width: #{$pc-minwidth})"
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);
