@use "../global" as global;

.l-footer {
  padding: 0px 0 116px;
  text-align: left;
  background: global.$text-color;
  color: #fff;

  @include global.mq("tab") {
    padding: 0px 0 5px;
  }
  @include global.mq("sp") {
    padding: 0px 0 5px;
  }
}
