@use "../global" as global;

.p-drawer {
  position: relative;

  @include global.mq("pc") {
    display: none;
  }

  &__icon {
    position: absolute;
    top: -15px;
    right: 1rem;
    z-index: map-get(global.$layer, "drawer") + 2;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 33px;
      height: 7px;
      background: #111;
      transition: transform 0.3s linear, top 0.3s linear;

      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }

    &.active {
      span {
        &:nth-of-type(1) {
          top: 10px;
          transform: rotate(45deg);
          background: global.$text-color;
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(3) {
          top: 10px;
          transform: rotate(-45deg);
          background: global.$text-color;
        }
      }
    }
  }
}

.p-drawer__panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: map-get(global.$layer, "drawer") + 1;
  padding: 8rem 0rem 2rem;
  width: 50vw;
  height: 100vh;
  background: global.$main-color;
  translate: 100vw;
  opacity: 0;
  transition: 0.5s;

  @include global.mq("sp") {
    width: 80vw;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 1.75rem 0;
    border-bottom: 1px dotted global.$text-color;
    position: relative;

    &:first-child {
      border-top: 1px dotted global.$text-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 79px;
      transform: translate(-50%, -50%);
      background: url(./assets/img/fv/Icon\ awesome-caret-right.svg) no-repeat
        center center/contain;
      width: 15px;
      height: 14px;
    }
  }

  a {
    text-decoration: none;
    color: global.$text-color;
    font-size: 1rem;
    display: block;
    padding-left: 30px;
  }

  &.active {
    translate: 0;
    opacity: 1;
  }
}
