@use "../global" as global;

.p-footer {
  &__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid global.$accent-color;
    text-align: center;
    height: 80px;
    vertical-align: middle;
  }
}

.p-footer__top-mail,
.p-footer__top-tel {
  width: 50%;
  height: 80px;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: global.$ff-mont;
    margin-left: 40px;

    @include global.mq("tab") {
      margin-left: 30px;
    }
    @include global.mq("sp") {
      margin-left: 30px;
    }
  }
}
.p-footer__top-mail {
  border-right: 1px solid global.$accent-color;
  p {
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 26px;
    line-height: calc(32 / 26);
    position: relative;

    @include global.mq("tab") {
      font-size: 18px;
    }
    @include global.mq("sp") {
      font-size: 18px;
    }

    &::before {
      content: "";
      background: url(../img/footer/icon-mail.svg) no-repeat center center/cover;
      width: 26px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: -20%;
      transform: translate(-50%, -50%);

      @include global.mq("tab") {
        background: url(../img/footer/icon-mail.svg) no-repeat center center /
          contain;
        width: 18px;
      }

      @include global.mq("sp") {
        background: url(../img/footer/icon-mail.svg) no-repeat center center /
          contain;
        width: 14px;
      }
    }
  }
}
.p-footer__top-tel {
  .p-footer__top-tel-txt {
    position: relative;

    &::before {
      content: "";
      background: url(../img/footer/icon-tel.svg) no-repeat center
        center/contain;
      width: 28px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 6%;
      transform: translate(-50%, -50%);

      @include global.mq("tab") {
        width: 18px;
      }
      @include global.mq("sp") {
        width: 14px;
      }
    }
  }

  p {
    &:nth-child(1) {
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 1.1;

      @include global.mq("tab") {
        font-size: 18px;
      }
      @include global.mq("sp") {
        font-size: 16px;
      }
    }

    &:nth-child(2) {
      font-family: global.$ff-base;
      font-size: 13px;
      letter-spacing: 0.02em;
      line-height: calc(18 / 13);

      @include global.mq("tab") {
        font-size: 12px;
      }
      @include global.mq("sp") {
        font-size: 11px;
      }
    }
    @include global.mq("tab") {
      margin-left: 30px;
    }
    @include global.mq("sp") {
      margin-left: 20px;
    }
  }
}

.p-footer__bottom {
  display: flex;
  width: 81.99%;
  margin: 59px auto 0px;
  max-width: 1120px;
  justify-content: space-between;

  @include global.mq("tab") {
    flex-flow: column;
    width: 100%;
    padding: 0 15px;
    margin: 30px auto 0px;
  }
  @include global.mq("sp") {
    flex-flow: column;
    width: 100%;
    padding: 0 15px;
    margin: 20px auto 0px;
  }
}
.p-footer__bottom-left {
  flex-shrink: 0;
  margin-top: 5px;
  width: 100%;
  max-width: 350px;

  @include global.mq("pc") {
    width: 350px;
  }

  @media screen and (min-width: 1023px) and (max-width: 1285px) {
    width: 280px;
  }

  &-img {
    @include global.mq("pc") {
      width: 350px;
    }

    @media screen and (min-width: 1023px) and (max-width: 1285px) {
      width: 280px;
    }

    img {
    }
  }
  p {
    margin-top: 30px;
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}

.p-footer__bottom-right {
  & > ul {
    display: flex;

    @include global.mq("tab") {
      flex-flow: column;
      margin-top: 20px;
    }
    @include global.mq("sp") {
      flex-flow: column;
      margin-top: 20px;
    }
  }
  & > ul > li {
    padding-left: 60px;

    @media screen and (min-width: 1023px) and (max-width: 1200px) {
      padding-left: 30px;
    }

    @include global.mq("tab") {
      padding-left: 3%;
      padding-bottom: 2%;
    }
    @include global.mq("sp") {
      padding-left: 3%;
      padding-bottom: 2%;
    }
  }
  & > ul > li > a {
    font-size: 15px;
  }
}
.p-footer__bottom-right-about {
  ul {
    margin-top: 6px;
  }
  li {
    font-size: 14px;
    line-height: calc(30 / 14);
  }
}
.p-footer__bottom-right-TopAbout {
  ul {
    @include global.mq("tab") {
      padding-left: 3%;
    }
    @include global.mq("sp") {
      padding-left: 3%;
    }
  }

  li {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

.copylight {
  margin-top: 123px;
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: calc(26 / 12);

  @include global.mq("tab") {
    margin-top: 40px;
  }
  @include global.mq("sp") {
    margin-top: 40px;
  }
}
