@use "../global" as global;

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  @include global.mq("tab") {
    height: 60px;
  }
  @include global.mq("sp") {
    height: 60px;
  }

  &__logo {
    margin-left: 3%;
    width: 280px;

    img {
      @include global.mq("tab") {
        width: 260px;
      }

      @include global.mq("sp") {
        width: 190px;
      }
    }
  }
  &__nav {
    height: 100%;

    .p-header__nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
    }

    li {
      display: flex;
      height: 100%;

      &:nth-child(1) {
        padding-right: 49px;

        @media screen and (min-width: 1023px) and (max-width: 1145px) {
          padding-right: 20px;
        }
      }
      &:nth-child(2) {
        padding-right: 31px;

        @media screen and (min-width: 1023px) and (max-width: 1145px) {
          padding-right: 20px;
        }
      }
      &:nth-child(3) {
        padding-right: 40px;

        @media screen and (min-width: 1023px) and (max-width: 1145px) {
          padding-right: 20px;
        }
      }
      &:nth-child(4) {
        padding-right: 40px;

        @media screen and (min-width: 1023px) and (max-width: 1145px) {
          padding-right: 20px;
        }
      }
      &:nth-child(5) {
        padding-right: 40px;

        @media screen and (min-width: 1023px) and (max-width: 1145px) {
          padding-right: 20px;
        }
      }

      & > a {
        padding-bottom: 3px;
        font-size: 14px;
      }
    }

    a {
      display: flex;
      align-items: center;

      span {
        font-size: 14px;
        color: global.$text-color;
      }
    }
  }
}

.p-header__nav li:nth-child(4) {
  position: relative;

  &:hover .sub-menu {
    display: block;
  }

  .sub-menu {
    transition: 1s;
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -15%;
    border: none;
    font-weight: 300;

    li {
      background-color: #fff;
      height: 45px;
      position: relative;
      padding: 0 0 0 10px;
      display: flex;
      justify-content: center;

      &::before {
        content: "";
        background: url(../img/header/header_icon.svg) no-repeat center
          center/cover;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: 17%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: #f2f2ef;
      }

      a {
        font-size: 14px;
      }
    }
  }
}

.p-header__nav-items {
  & > li:last-child {
    background: global.$btn-color;
    color: global.$accent-color;
    font-size: 16px;
    transition: 0.3s;
    height: 80px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: global.$ff-mont;
    position: relative;

    &::before {
      content: "";
      background: url(../img/header/header_mail.svg) no-repeat center
        center/cover;
      width: 17px;
      height: 12px;
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 0.8;
    }

    a {
      height: 80px;
      width: 190px;
      justify-content: center;
      padding-left: 20px;
    }

    span {
      margin-left: 10px;
    }
  }
}
