@use "../global" as global;

.p-swiper {
  margin-top: 60px;

  @include global.mq("tab") {
    margin-top: 40px;
  }

  @include global.mq("sp") {
    margin-top: 30px;
  }
}

.swiper-wrap {
  background: #f2f2ec;
  padding: 60px 70px;
  position: relative;

  @include global.mq("tab") {
    width: 100%;
    padding: 20px 30px;
  }
  @include global.mq("sp") {
    width: 100%;
    padding: 15px 15px;
  }
}

.mySwiper2 {
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
}

.swiper-free-mode > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
}

.mySwiper .swiper-slide {
  height: 100%;
  opacity: 0.4;
  width: calc(100% / 10) !important;

  @include global.mq("tab") {
    width: calc(100% / 6) !important;
  }
  @include global.mq("sp") {
    width: calc(100% / 4) !important;
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  color: global.$text-color;

  @include global.mq("sp") {
    font-size: 14px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: global.$text-color;
  position: absolute;
  z-index: 2;

  @include global.mq("sp") {
    width: 35px;
    height: 35px;
  }
}
.swiper-button-next {
  right: 4%;

  @include global.mq("tab") {
    right: 2%;
  }

  @include global.mq("sp") {
    right: 1%;
  }
}

.swiper-button-prev {
  left: 4%;

  @include global.mq("tab") {
    left: 2%;
  }
  @include global.mq("sp") {
    left: 1%;
  }
}
