@use "../global" as global;

.p-TopAbout {
  width: 100%;
  display: flex;
  background: url(../img/TopAbout/about-bg.png) no-repeat center center/cover;

  @include global.mq("tab") {
    flex-flow: column-reverse;
  }
  @include global.mq("sp") {
    flex-flow: column-reverse;
  }

  &__wrap {
    padding: 87px 0 126px 9%;
    width: 50%;

    @include global.mq("tab") {
      width: 100%;
      padding: 87px 30px 126px;
    }
    @include global.mq("sp") {
      width: 100%;
      padding: 40px 15px 56px;
    }

    &-img {
      width: 80%;
      margin: 44px 0 0;
    }

    &-text {
      font-size: 16px;
      color: #fff;
      line-height: calc(32 / 16);
      width: 80%;
      text-align: left;
      margin-top: 30px;

      @include global.mq("sp") {
        width: 100%;
      }
    }
  }
  &__img {
    width: 50%;

    @include global.mq("tab") {
      width: 100%;
    }
    @include global.mq("sp") {
      width: 100%;
    }
  }

  & {
    display: flex;
    width: 65.885%;
    margin: -7% auto 0;

    @include global.mq("tab") {
      flex-flow: column;
    }

    @include global.mq("sp") {
      flex-flow: column;
    }

    & > div {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      @include global.mq("pc") {
        margin-right: 60px;
        width: calc(100% / 2 - 60px * 1 / 2);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.p-TopAbout__text {
  background: global.$main-color;
  padding: 17px 0 26px;
  display: inline-block;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    background: url(../img/TopAbout/icon.svg) no-repeat center center/cover;
    position: absolute;
    top: 47%;
    right: 2%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
  }

  p:nth-child(1) {
    font-size: 20px;
    font-family: global.$ff-mont;
    font-weight: 500;
    letter-spacing: 0.04em;
  }
  p:nth-child(2) {
    font-size: 13px;
    line-height: calc(16 / 13);
  }
}
