@use "../global" as global;

.p-confirm {
  & > p {
    display: flex;
    justify-content: center;

    @include global.mq("sp") {
      flex-flow: column;
    }
  }
  .wpcf7-previous {
    @include global.mq("pc") {
      margin-right: 30px;
    }
  }
}

.wpcf7-spinner {
  display: none;
}

.c-submit__btn {
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 21px 72px;
  background: #343434;
  color: #fff;

  @include global.mq("sp") {
    width: 100%;
    padding: 15px 39px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.wpcf7-previous,
.wpcf7-submit {
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.wpcf7-previous {
  padding: 21px 45px;
  background: #fff;
  color: #343434;
}

.wpcf7-submit {
  padding: 21px 72px;
  background: #343434;
  color: #fff;
}
