@use "../global" as global;

.c-section__ttl {
  display: flex;
  align-items: center;

  h2 {
    font-size: 36px;
    font-family: global.$ff-mont;
    position: relative;
    padding: 0 10px 0 20px;
    font-weight: 600;
    letter-spacing: 0.04em;

    @include global.mq("tab") {
      font-size: 30px;
    }

    @include global.mq("sp") {
      font-size: 26px;
    }

    &::before {
      content: "";
      width: 8px;
      height: 36px;
      background: global.$main-color;
      position: absolute;
      top: 50%;
      left: 2%;
      transform: translate(-50%, -50%);
    }
  }
  p {
    font-size: 18px;
    font-weight: bold;

    @include global.mq("tab") {
      font-size: 16px;
    }

    @include global.mq("sp") {
      font-size: 14px;
    }
  }
}

.p-search {
  .c-section__ttl {
    h2 {
      &::before {
        background: #fff;
      }
    }
  }
}
.p-TopAbout {
  .c-section__ttl {
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}
.p-AboutProfile {
  .c-section__ttl {
    h2 {
      @include global.mq("tab") {
        font-size: 30px;
      }

      @include global.mq("sp") {
        font-size: 20px;
        padding: 0 8px 0 14px;
      }
    }
    p {
      @include global.mq("tab") {
        font-size: 14px;
      }

      @include global.mq("sp") {
        font-size: 12px;
      }
    }
  }
}
