@use "../global" as global;

.p-AboutService {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;

  &__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    width: calc(100% / 4 - 13px * 3 / 4);
    margin-right: 13px;
    background: #fff;
    height: 270px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;

    &::before {
      content: "";
      background: url(/img/about/service/arrow.svg) no-repeat center
        center/contain;
      width: 18px;
      height: 16px;
      position: absolute;
      bottom: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:last-child {
      margin-right: 0;
    }

    &-img {
      width: 113px;
      margin: 0 0 32px;
    }
    p {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-top: 12px;
    }
  }

  &__items {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
  }
  &__item {
    border: 10px solid #e0e0d6;
    margin-bottom: 46px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      margin-right: 110px;

      h3 {
        font-size: 32px;
        line-height: calc(40 / 32);
        font-weight: bold;
        margin-bottom: 35px;
      }

      p {
        &:nth-of-type(1) {
          font-size: 18px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;

          span {
            margin-bottom: 10px;
          }

          span:not(:last-child) {
            border-radius: 5px;
            background: global.$text-color;
            color: #fff;
            padding: 5px 17px;
            margin-right: 7px;
          }
        }
        &:nth-of-type(2) {
          font-size: 16px;
          line-height: calc(32 / 16);
        }
      }
    }
    &-img {
      width: 160px;
      flex-shrink: 0;
      margin-top: 10px;
    }
  }

  .p-AboutService__item {
    &:nth-child(1) {
      padding: 41px 50px 53px 40px;
    }
    &:nth-child(2) {
      padding: 41px 50px 45px 40px;
      margin-bottom: 57px;
    }
    &:nth-child(3) {
      padding: 32px 50px 37px 40px;
      margin-bottom: 54px;
    }
    &:nth-child(4) {
      padding: 41px 50px 53px 40px;
    }
  }
}
