@use "../global" as global;

.p-confirm {
  display: flex;
  flex-flow: column;

  dl {
    width: 100%;
    margin: 0;
    max-width: 100vw;
    border-top: 1px solid #e0e0d6;
    padding: 15px 0 12px;

    @include global.mq("pc") {
      float: left;
      padding: 25px 0 18px 0;
    }
    @include global.mq("tab") {
      float: left;
      padding: 25px 0 18px 0;
    }

    &:nth-child(5) {
      padding: 25px 0 22px 0;

      @include global.mq("sp") {
        padding: 15px 0 12px;
      }
    }
    &:nth-child(6) {
      padding: 25px 0 25px 0;

      @include global.mq("sp") {
        padding: 15px 0 12px;
      }
    }
  }

  dl:last-of-type {
    border-bottom: 1px solid #e0e0d6;
    margin-bottom: 60px;

    @include global.mq("tab") {
      margin-bottom: 45px;
    }
    @include global.mq("sp") {
      margin-bottom: 30px;
    }
  }

  dt {
    padding: 0px 4% 11px 0%;
    display: flex;
    align-items: center;
    width: 100%;

    @include global.mq("pc") {
      justify-content: space-between;
      float: left;
      width: 320px;
      padding: 9px 4% 11px 4%;
    }

    @include global.mq("tab") {
      justify-content: space-between;
      float: left;
      width: 320px;
      padding: 9px 4% 11px 4%;
    }

    span {
      font-size: 12px;
      color: #b42e27;
      border: 1px solid #b42e27;
      padding: 3px 5px;

      @include global.mq("sp") {
        margin-left: 10px;
      }
    }
  }
  dd {
    width: calc(100% - 5%);
    margin-left: 5%;

    @include global.mq("pc") {
      width: calc(100% - 320px);
      float: right;
      margin-left: 0;
    }

    @include global.mq("tab") {
      width: calc(100% - 320px);
      float: right;
      margin-left: 0;
    }
  }
}

.p-confirm__address {
  .post {
    margin-top: 10px;
  }

  .address-level1 {
    margin-top: 10px;
  }
  .address-level2 {
    margin-top: 18px;
  }
  .address-level3 {
    margin-top: 22px;
  }
}

.c-submit__btn-wrap {
  text-align: center;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include global.mq("sp") {
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  .c-submit__btn {
    @include global.mq("sp") {
      width: 100%;
      margin-right: 0;
      font-size: 15px;
    }
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
