@use "../global" as global;

.p-complete {
  display: flex;
  flex-flow: column;

  &__txt {
    font-size: 18px;
    line-height: calc(32 / 18);
    margin-bottom: 54px;

    @include global.mq("sp") {
      font-size: 15px;
    }
  }
  &__attention {
    p {
      &:nth-child(1) {
        font-size: 20px;
        color: #acaca1;
        margin-bottom: 18px;
        position: relative;

        &::before,
        &::after {
          content: "";
          width: 33%;
          height: 1px;
          background: #acaca1;
          position: absolute;
          top: 46%;
          transform: translate(0%, -50%);

          @include global.mq("tab") {
            width: 27%;
          }
          @include global.mq("sp") {
            width: 21%;
          }
        }

        &::before {
          left: 8%;
        }

        &::after {
          right: 8%;
        }
      }
      &:nth-child(2) {
        font-size: 15px;
        padding-bottom: 45px;
        border-bottom: 1px solid #acaca1;
        width: calc(100% - 16%);
        margin: 0 auto;
      }
    }
  }
}

.p-complete__list {
  margin: 54px 0 44px;
}

.complete__btn {
  margin-top: 54px;
  justify-content: center;

  @include global.mq("tab") {
    margin-bottom: 35px;
  }
  @include global.mq("sp") {
    margin-bottom: 20px;
  }
}
