@use "../global" as global;

.p-fv {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 560px;

  &__img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 9px;

    img {
      &:nth-child(1) {
        width: 620px;
        margin-bottom: 48px;
      }
      &:nth-child(2) {
        width: 683px;
      }
    }
  }
}
