@use "../global" as global;

.p-result {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}
.p-result__item {
  width: calc(100% / 3 - 48px * 2 / 3);
  margin-right: 48px;
  margin-top: 60px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(-n + 3) {
    margin-top: 80px;
  }

  &-body {
  }
  &-img {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      background: #666666;
    }
    &::before {
      width: 99%;
      height: 1px;
      top: 103%;
      left: 51%;
    }
    &::after {
      height: 100%;
      width: 1px;
      top: 53%;
      left: 101%;
    }
    img {
    }
  }
  &-cate {
    margin: 20px 0 11px;
    font-size: 13px;
    background: #343434;
    padding: 2px 17px;
    color: #fff;
    text-align: center;
    display: inline-block;
  }
  &-address {
    font-size: 18px;
  }
  &-price {
    margin: 4px 0 10px;
  }
  &-access {
    font-size: 13px;
    color: #666;
    position: relative;
    padding-left: 15px;

    &::before {
      content: "";
      background: url(/img/search/icon.svg) no-repeat center center/cover;
      width: 11px;
      height: 17px;
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(-50%, -50%);
    }
  }
}

.p-result__btn {
  font-size: 16px;
  padding: 20px 0;
  color: #343434;
  position: relative;
  background: global.$main-color;
  margin-top: 60px;
  display: inline-block;
  width: 340px;
  cursor: pointer;
  font-family: global.$ff-mont;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    background: url(/img/result/button-icon.svg) no-repeat center center/contain;
    width: 24px;
    height: 24px;
  }
}
