@use "../global" as global;

.p-search {
  width: 81.99%;
  margin: 0 auto;
  max-width: 1120px;

  @include global.mq("tab") {
    width: 100%;
    padding: 0 30px;
  }

  @include global.mq("sp") {
    width: 100%;
    padding: 0 15px;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-top: 23px;

    @include global.mq("tab") {
      flex-flow: column;
    }
    @include global.mq("sp") {
      flex-flow: column;
    }
  }
  &__btn-buy,
  &__btn-borrow {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include global.mq("tab") {
      width: 80%;
    }
    @include global.mq("sp") {
      width: 100%;
    }

    & > p {
      font-size: 16px;
      line-height: calc(26 / 16);
      color: #fff;
      background: global.$text-color;
      display: block;
      width: 100%;
      text-align: center;
      padding: 6px 0;
    }
  }
  &__btn-buy {
    @include global.mq("pc") {
      margin-right: 47px;
      flex-grow: 1;
    }

    @include global.mq("tab") {
      margin-bottom: 30px;
    }

    @include global.mq("sp") {
      margin-bottom: 20px;
    }
  }

  .p-search__btn-buy-btn,
  .p-search__btn-borrow-btn {
    padding: 15px 34px 15px 29px;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;

    @include global.mq("tab") {
      flex-flow: column;
    }
    @include global.mq("sp") {
      flex-flow: column;
    }

    a {
      font-size: 15px;
      background: #f2f2ed;
      padding: 9px 24px;
      border-radius: 5px;
      border: 1px solid #d3d3c7;
      font-weight: normal;

      @include global.mq("tab") {
        width: 100%;
        text-align: center;
      }

      @include global.mq("sp") {
        width: 100%;
        text-align: center;
      }

      span {
        font-size: 13px;
      }
    }
  }
  .p-search__btn-buy-btn {
    a {
      @include global.mq("pc") {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }

      @include global.mq("tab") {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include global.mq("sp") {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
